*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("kkk.jpg");
    
    background-repeat: no-repeat;
    
    }
 
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("medellin.jpeg");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }
        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imagenmate{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("medellin.jpeg");
            
            }
            
            
            
            .textomate{
            
            text-align: justify;
            
            color: azure;
            
            font-size: 20px;
            
            
            
            }
            .contenido{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
                
                .imagenreligion{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("medellin.jpeg");
                
                }
                
                
                
                .textoreligion{
                
                text-align: justify;
                
                color: azure;
                
                font-size: 20px;
                
                
                
                }
                .contenido{

                    height: 280px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 410px;
                    
                     
                    
                    }
                    
                     
                    
                    .imagensociales{
                    
                     
                    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("medellin.jpeg");
                    
                    }
                    
                    
                    
                    .textosociales{
                    
                    text-align: justify;
                    
                    color: azure;
                    
                    font-size: 20px;
                    
                    
                    
                    }
                    .contenido{

                        height: 280px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 410px;
                        
                         
                        
                        }
                        
                         
                        
                        .imagenetica{
                        
                         
                        
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 200px;
                        
                        width: 260px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("medellin.jpeg");
                        
                        }
                        
                        
                        
                        .textoetica{
                        
                        text-align: justify;
                        
                        color: azure;
                        
                        font-size: 20px;
                        
                        
                        
                        }
                        .contenido{

                            height: 280px;
                            
                            width: 100%;
                            
                            position: absolute;
                            
                            top: 410px;
                            
                             
                            
                            }
                            
                             
                            
                            .imagenbiologia{
                            
                             
                            
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 200px;
                            
                            width: 260px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("medellin.jpeg");
                            
                            }
                            
                            
                            
                            .textobiologia{
                            
                            text-align: justify;
                            
                            color: azure;
                            
                            font-size: 20px;
                            
                            
                            
                            }
                
                                
                                 
                                
                        